builder/builder/obj/
builder/builder/bin/
test/ipch/
*.opensdf
*.sdf
test/packages/
test/test_atomic/Debug/
test/test_chrono/Debug/
test/test_coroutine/Debug/
test/test_system/Debug/
test/Debug/
test/test_date_time/Debug/
test/test_exception/Debug/
test/test_filesystem/Debug/
test/test_graph/Debug/
test/test_graph_parallel/Debug/
test/test_mpi/Debug/
test/test_regex/Debug/
test/test_serialization/Debug/
test/test_iostreams/Debug/
test/test_iostreams_bzip2/Debug/
test/test_iostreams_zlib/Debug/
test/test_locale/Debug/
test/test_locale_icu/Debug/
test/test_thread/Debug/
test/test_log/Debug/
test/test_log_event/Debug/
test/test_log_setup/Debug/
test/test_math/Debug/
test/test_mpi_python/Debug/
test/test_program_options/Debug/
test/test_python/Debug/
test/test_random/Debug/
test/test_signals/Debug/
test/test_smart_ptr/Debug/
*.tlog
*.lastbuildstate
*.idb
*.ipch
*.nupkg
test_vc110/packages/
*.unsuccessfulbuild
test/Release/
1
test_python/packages/
builder/builderTest/obj/
