<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.54.0.154" targetFramework="Native" />
  <package id="boost_iostreams_bzip2" version="1.54.0.154" targetFramework="Native" />
  <package id="bzip2" version="1.0.6.11" targetFramework="Native" />
  <package id="bzip2.redist" version="1.0.6.11" targetFramework="Native" />
</packages>