<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="boost" version="1.55.0.10" targetFramework="native" userInstalled="true" />
  <package id="boost_graph_parallel" version="1.57.0" targetFramework="native" userInstalled="true" />
  <package id="boost_mpi" version="1.57.0" targetFramework="native" userInstalled="true" />
  <package id="boost_serialization" version="1.57.0" targetFramework="native" userInstalled="true" />
</packages>